body {
	background-color: #f7f4f1;
}

h1 {
	text-align: center;
	color: rgb(0, 0, 0);
	font-family: 'Formula1-Display-Bold', cursive;
	font-size: 40px;
}
h2{
    text-align: center;
	color: rgb(0, 0, 0);
	font-family: 'Formula1-Display-Bold', cursive;
	font-size: 30px;
}

.separador {
	border-top: #acacac 1px solid;
	margin-top: 0px;
	margin-left: 39%;
	margin-right: 39%;
	margin-bottom: 0px;
}

label {
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: rgb(0, 0, 0);
}

form {
	margin-top: 15px;
	margin-left: 41.25%;
	width: 300px;
	padding: 16px;
	background-color: #f7f4f1;
}

form label {
	font-weight: bold;
	display: inline-block;
    margin-top: 30px;
}

form input[type="text"] {
	height: 40px;
	width: 280px;
	padding: 3px 10px;
	border: 1px solid #000000;
	border-radius: 10px;
	background-color: #f6f6f6;
	margin-top: 4px;
    margin-bottom: 4px;
	display: inline-block;
}

form input[type="submit"] {
	width: 100%;
	padding: 8px 16px;
	margin-top: 32px;
	border: 2px solid #ff3030;
	border-radius: 5px;
	display: block;
	color: #fff;
	background-color: rgb(233, 40, 40);
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 13px;
}

form input[type="submit"]:hover {
	cursor: pointer;
	background-color: rgb(255, 255, 255);
	color: black;
}

textarea {
	width: 100%;
	height: 100px;
	border: 1px solid #000000;
	border-radius: 10px;
	background-color: #f6f6f6;
	margin: 8px 0;
	resize: none;
	display: block;
}

.error {
	color: red;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	margin: 0px;
	margin-bottom: 10px;
}
.success { 
    color: green; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px; 
    margin-bottom: 10px;
}

h3 {
	color: #000000;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 20px;
}

a{
    text-decoration: none;
	width: 88%;
	padding: 8px 16px;
	margin-top: 32px;
	border: 2px solid #ff3030;
	border-radius: 5px;
	display: block;
	color: #fff;
	background-color: rgb(233, 40, 40);
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 14px;
    text-align: center;

}

a:hover {
	cursor: pointer;
	background-color: rgb(255, 255, 255);
	color: black;
}

table {
    margin-top: 20px;
    width: 50%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    background-color: #ebebeb;
}

thead {
    background-color: #ff3030;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
}

tr{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-bottom: 1px solid #ddd;
}

