body {
    background-image: url('../../uploads/img/fons/fonsFibraCarbono.webp');
    margin: 0;
}

h1 {
    color: rgb(0, 0, 0);
    font-family: 'Formula1-Bold', cursive;
    font-size: 40px;
    text-align: center;

}

h2 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Formula1-Bold', cursive;
    font-size: 30px;
}

h3 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Formula1-Bold', cursive;
    font-size: 20px;
}

@font-face {
    font-family: "Formula1-Regular";
    src: url("../fonts/F1/Formula1-Regular_web_0.ttf") format("truetype");
}

@font-face {
    font-family: "Formula1-Bold";
    src: url("../fonts/F1/Formula1-Bold_web_0.ttf") format("truetype");
}

@font-face {
    font-family: "Formula1-Wide";
    src: url("../fonts/F1/Formula1-Wide_web_0.ttf") format("truetype");
}

.separador {
    border-top: #acacac 1px solid;
    margin-top: 0px;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 0px;
}

.separador_gran{
    border-top: #222222 1px solid;
    margin-top: 3%;
    margin-bottom: 3%;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.alert-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

main{
    min-height: 140vh;
}

.alert {
    background-color: #f7f4f1;
    padding: 2rem;
    border-radius: 15px;
    text-align: center;
    max-width: 400px;
    width: 90%;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.alert p {
    font-size: 20px;
    color: #000;
    margin-bottom: 1.5rem;
}

.alert a.link {
    display: block;
    margin-top: 1rem;
    text-align: center;
    color: #ff0000;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.alert a.link:hover {
    text-decoration: underline;
}


.perfil-container {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 18px;
    background-color: #f7f4f1;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 4rem;
    padding: 2%;
    height: auto;
}

.perfil-p{
    font-family: 'Formula1-Bold', cursive;
    color: rgb(0, 0, 0);
    margin-bottom: 0.5%;
    font-size: 22px;
}

p{
    margin-top: 0%;
    color: #383838;
    font-family: 'Formula1-Regular', cursive;
    font-size: 15px;
}

.perfil-imatge{
    border-radius: 50%;
    width: 110px;
    height: 110px;
    margin-top: 3%;
    margin-bottom: 2%;
    border: black 7px solid;
    object-fit: cover;
    display: block;
}

.form-modificarUsuari input[type="submit"] {
    width: 100%;
    padding: 8px 16px;
    margin-top: 32px;
    border: 2px solid #ff3030;
    border-radius: 5px;
    display: block;
    color: #fff;
    background-color: #D41616;
    font-weight: 800;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.form-modificarUsuari input[type="submit"]:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: black;
}

.cancel-button {
    width: 96.2%;
    padding: 8px 16px;
    margin-top: 32px;
    border: 2px solid #ff3030;
    border-radius: 5px;
    display: block;
    color: #000000;
    background-color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}

.cancel-button:hover {
    cursor: pointer;
    background-color: #D41616;
    font-weight: 800;
    color: rgb(255, 255, 255);
}

.form-modificarUsuari input[type="text"], .form-modificarUsuari input[type="password"], .form-modificarUsuari input[type="email"] {
    height: 55px;
    width: 850px;
    padding: 3px 10px;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #f6f6f6;
    margin-top: 14px;
    margin-bottom: 4px;
    display: inline-block;
    font-size: 17px;
    margin-bottom: 30px;
}

.form-modificarUsuari input[type="text"]:focus, .form-modificarUsuari input[type="password"]:focus, .form-modificarUsuari input[type="email"]:focus {
    outline: none;
    border-color: #3399ff;
    box-shadow: 0 0 5px 2px rgba(51, 153, 255, 0.5);
}

.upload-container {
    margin-top: 20px;
    margin-bottom: 10px;
}

.upload-label {
    display: block;
    font-family: 'Formula1-Bold', cursive;
    color: rgb(0, 0, 0);
    margin-bottom: 8px;
    font-size: 18px;
}

.errors {
    margin-bottom: 20px;
}

.error {
    color: #D41616;
    background-color: #ffe6e6;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
    font-weight: bold;
    border-left: 4px solid #D41616;
}

.success {
    color: #00a800;
    background-color: #e6ffe6;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
    font-weight: bold;
    border-left: 4px solid #00a800;
}

.custom-file-div {
    height: 55px;
    align-items: center;
    display: flex;
    gap: 10px;
    border: 2px dashed #000000;
    border-radius: 10px;
}   

.custom-file-upload {
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Formula1-Bold', cursive;
    color: rgb(255, 255, 255);
    font-size: 15px;
    background-color: #D41616;
    border: 0px;
    border-radius: 10px;
    margin-left: 10px;
}
.custom-file-upload:hover {
    background-color: #790707;
}

.custom-file-span {
    font-family: 'Formula1-Regular', cursive;
    color: #000000;
    font-size: 13px;
}

.subtitle {
    font-family: 'Formula1-Bold', cursive;
    color: rgb(53, 53, 53);
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 17px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
    font-family: 'Formula1-Regular', cursive;
    color: #000000;
    font-size: 15px;
}