body {
	background-color: #f7f4f1;
	margin: 0;
}

main {
	min-height: 98.9vh;
}

header ul {
	background-color: #333333;
	list-style: none;
	margin: 0;
	display: flex;
	height: 80px;
	justify-content: space-between;
	padding: 0 2%;
}

header ul li {
	padding: 1%;
}

.button {
	display: inline-block;
	text-decoration: none;
	color: white;
	font-weight: 800;
	background-color: #D41616;
	padding: 0.5rem 1rem;
	border-radius: 20px;
	transition: all 0.3s ease;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	transition: 0.3s;
	border: 1px solid red;
}

.button:hover {
	cursor: pointer;
	background-color: rgb(255, 255, 255);
	color: black;
}

.logo-img {
	height: 45px;
	transition: 0.3s;
}

.logo-img:hover {
	height: 47px;
}


h1 {
	text-align: center;
	color: rgb(0, 0, 0);
	font-family: 'Formula1-Bold', cursive;
	font-size: 40px;
}

h2 {
	text-align: center;
	color: rgb(0, 0, 0);
	font-family: 'Formula1-Bold', cursive;
	font-size: 30px;
}

h3 {
	text-align: center;
	color: rgb(0, 0, 0);
	font-family: 'Formula1-Bold', cursive;
	font-size: 20px;
}

@font-face {
	font-family: "Formula1-Regular";
	src: url("../fonts/F1/Formula1-Regular_web_0.ttf") format("truetype");
}

@font-face {
	font-family: "Formula1-Bold";
	src: url("../fonts/F1/Formula1-Bold_web_0.ttf") format("truetype");
}

@font-face {
	font-family: "Formula1-Wide";
	src: url("../fonts/F1/Formula1-Wide_web_0.ttf") format("truetype");
}

.separador {
	border-top: #acacac 1px solid;
	margin-top: 0px;
	margin-left: 39%;
	margin-right: 39%;
	margin-bottom: 0px;
}

label {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: rgb(0, 0, 0);
}

form {
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	max-width: 600px;
	width: 90%;
	padding: 16px;
	box-sizing: border-box;
	background-color: #f7f4f1;
	border: solid 1px black;
	border-radius: 10px;
	box-shadow: 1px 1px 20px rgb(153, 153, 153);
	overflow: visible;
}

form label {
	font-weight: bold;
	display: inline-block;
	margin-top: 30px;
}

form input[type="text"] {
	height: 40px;
	width: 100%;
	padding: 3px 10px;
	border: 1px solid #000000;
	border-radius: 10px;
	background-color: #f6f6f6;
	margin-top: 4px;
	margin-bottom: 4px;
	display: block;
	box-sizing: border-box;
}

form input[type="text"]:focus {
	outline: none;
	border-color: #3399ff;
	box-shadow: 0 0 5px 2px rgba(51, 153, 255, 0.5);
}

form input[type="email"] {
	height: 40px;
	width: 100%;
	padding: 3px 10px;
	border: 1px solid #000000;
	border-radius: 10px;
	background-color: #f6f6f6;
	margin-top: 4px;
	margin-bottom: 4px;
	display: block;
	box-sizing: border-box;
}

form input[type="email"]:focus {
	outline: none;
	border-color: #3399ff;
	box-shadow: 0 0 5px 2px rgba(51, 153, 255, 0.5);
}

.separator {
	margin: 20px 0;
}

.separator span {
	background-color: #f7f4f1;
	padding: 0 10px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

form input[type="password"] {
	height: 40px;
	width: 100%;
	padding: 3px 10px;
	border: 1px solid #000000;
	border-radius: 10px;
	background-color: #f6f6f6;
	margin-top: 4px;
	margin-bottom: 4px;
	display: block;
	box-sizing: border-box;
}

form input[type="password"]:focus {
	outline: none;
	border-color: #3399ff;
	box-shadow: 0 0 5px 2px rgba(51, 153, 255, 0.5);
}

form input[type="submit"] {
	width: 100%;
	padding: 8px 16px;
	border: 2px solid #ff3030;
	border-radius: 5px;
	display: block;
	color: #fff;
	background-color: #D41616;
	font-weight: 800;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 13px;
}

form input[type="submit"]:hover {
	cursor: pointer;
	background-color: rgb(255, 255, 255);
	color: black;
}

.container {
	width: 400px;
	margin: auto;
	padding: 20px;
	border-radius: 10px;
}

.error {
	color: #D41616;
	background-color: #ffe6e6;
	padding: 10px;
	border-radius: 5px;
	margin: 5px 0;
	font-weight: bold;
	border-left: 4px solid #D41616;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.success {
	color: green;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	margin: 0px;
	margin-bottom: 10px;
}

.alert-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.alert {
	background-color: #f7f4f1;
	padding: 2rem;
	border-radius: 15px;
	text-align: center;
	max-width: 400px;
	width: 90%;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.alert p {
	font-size: 20px;
	color: #000;
	margin-bottom: 1.5rem;
}

.alert a.link {
	display: block;
	margin-top: 1rem;
	text-align: center;
	color: #D41616;
	text-decoration: none;
	font-weight: 800;
	transition: 0.3s;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.alert a.link:hover {
	text-decoration: underline;
}

.login {
	margin: 0%;
	margin-top: 1%;
	margin-bottom: 3%;
	text-align: center;
	padding: 1%;
}

.login li {
	display: inline-block;
	margin: 7px 12px 0 0;
}

.login li label,
input[type="checkbox"] {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	margin: 7px 12px 0 0;

}

.login li a {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: #D41616;
	font-weight: 800;
}

.login li a:hover {
	color: #990c0c;
}

.requirit {
	color: #D41616;
	font-weight: 800;
	font-size: 20px;
	display: inline;
}

.link {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: #D41616;
	font-weight: 800;
}

.link:hover {
	color: #990c0c;
}

p {
	text-align: center;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.separator {
	display: flex;
	align-items: center;
	text-align: center;
	margin: 10px 0;
}

.separator::before,
.separator::after {
	content: "";
	flex: 1;
	border-bottom: 1px solid #000;
}

.separator span {
	padding: 0 10px;
	font-size: 14px;
}

.social-login {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	text-align: center;
	justify-content: center;
	width: 100%;
	box-sizing: border-box;
}

.google-btn,
.apple-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	flex-shrink: 0;
	flex-grow: 0;

	padding: 10px 20px;
	width: 100%;
	max-width: 400px;
	box-sizing: border-box;
	margin: 0 auto 10px auto;
	min-height: 45px;

	border-radius: 100px;
	font-size: 14px;
	border: 2px solid;

	box-shadow: #0000002f 0px 10px 10px;
}


.google-btn {
	background-color: #fff;
	color: #000;
	border: 2px solid #636363;
}

.apple-btn {
	background-color: #000;
	color: #fff;
	border: 2px solid #000;
}

.google-btn a,
.apple-btn a {
	text-decoration: none;
	color: inherit;
	font-weight: 800;
	font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
}

.google-btn:hover,
.apple-btn:hover {
	cursor: pointer;
	opacity: 0.8;
}

.social-img {
	height: 20px;
	width: 20px;
	display: block;
	flex-shrink: 0;
}

.recaptcha {
	margin-top: 15px;
	margin-left: 25%;
}