.footer-content{
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    padding: 20px;
    background-color: #333333;
    height: 100px;
    text-align: center;
}

.footer-text {
    display: inline;
    padding: 2%;
    color: white;
}

.footer-logo {
    height: 30px;
    margin-top: 30px;
    margin-left: 15px;
}

