body {
    background-image: url("../../uploads/img/fons/fonsFibraCarbono.webp");
    margin: 0;
}

main{
    min-height: 73.2vh;
}

.button {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: 800;
    background-color: #D41616;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    transition: all 0.3s ease;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: 0.3s;
    border: 1px solid red;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: black;
}

h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Formula1-Bold', cursive;
    font-size: 40px;
}

h2 {
    text-align: center;
    color: rgb(34, 34, 34);
    font-family: 'Formula1-Bold', cursive;
    font-size: 30px;
}

h3 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Formula1-Bold', cursive;
    font-size: 20px;
}

.textWhite {
    color: white;
}

@font-face {
    font-family: "Formula1-Regular";
    src: url("../fonts/F1/Formula1-Regular_web_0.ttf") format("truetype");
}

@font-face {
    font-family: "Formula1-Bold";
    src: url("../fonts/F1/Formula1-Bold_web_0.ttf") format("truetype");
}

@font-face {
    font-family: "Formula1-Wide";
    src: url("../fonts/F1/Formula1-Wide_web_0.ttf") format("truetype");
}

.separador {
    border-top: #acacac 1px solid;
    margin-top: 0px;
    margin-left: 39%;
    margin-right: 39%;
    margin-bottom: 0px;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.alert-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.alert {
    background-color: #f7f4f1;
    padding: 2rem;
    border-radius: 15px;
    text-align: center;
    max-width: 400px;
    width: 90%;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.alert p {
    font-size: 20px;
    color: #000;
    margin-bottom: 1.5rem;
}

.alert a.link {
    display: block;
    margin-top: 1rem;
    text-align: center;
    font-weight: 800;
    color: #D41616;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.alert a.link:hover {
    text-decoration: underline;
}

.message-success {
    color: #00a800;
    background-color: #e6ffe6;
    padding: 10px;
    border-radius: 5px;
    margin: 15px 0;
    font-weight: bold;
    border-left: 4px solid #00a800;
    text-align: center;
    font-family: "Formula1-Bold", cursive;
}

.message-error {
    background-color: #f8d7da;
    color: #721c24;
    padding: 15px;
    border-radius: 5px;
    margin: 20px auto;
    max-width: 800px;
    text-align: center;
    border-left: 4px solid #dc3545;
    font-family: "Formula1-Bold", cursive;
}

.no-session {
    padding: 2rem;
    text-align: center;
    margin-top: 5rem;
    color: rgb(0, 0, 0);
    background-color: white;
    margin-left: 33%;
    margin-right: 33%;
    border: solid 2px #D41616;
    border-radius: 10px;
}

.no-articles {
    padding: 2rem;
    text-align: center;
    margin-top: 15rem;
    color: white;
}

.cards-grid {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}

.card {
    background: #f7f4f1;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
    padding: 1rem;
    color: #111;
}

.card.card-horizontal {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__info {
    flex: 1 1 auto;
}

.card__title {
    margin: 0 0 6px 0;
    font-size: 1.1rem;
    text-align: left;
}

.card__author {
    margin: 0;
    color: #555;
    font-size: 0.9rem;
}

.card__actions {
    display: flex;
    gap: 0.5rem;
    margin-left: 1rem;
}

.modificar-btn {
    width: 40px;
    height: 40px;
    border-radius: 6px;
    border: none;
    background: #59a353;
    cursor: pointer;
}


.modificar-btn:hover {
    background: #3e7e2e;
}

.card__body {
    color: #222
}

.modificar-icon {
    width: 34px;
    height: 34px;
    padding-top: 8%;
    padding-left: 8%;
}

.eliminar-icon {
    width: 34px;
    height: 34px;
    padding-top: 8%;
    padding-left: 8%;
    padding-bottom: 12%;
    background-color: rgb(240, 38, 38);
    border-radius: 6px;
}

.eliminar-icon:hover {
    background-color: rgb(180, 20, 20);
}

.afegir-article-div {
    margin-top: 1.5rem;
    margin-left: 2rem;
}